.sectionIcon {
    height: 1em;
    margin-right: 25px;
}
.sectionIcon.small {
    height: 0.5em;
}

#sectionName {
    padding: 0.5em;
    display: flex;
    align-items: center; /* This centers the items vertically */
    justify-content: center; 
}

#mainSection{
    margin-top: 50px;
}

#students{
    display: flex;
    /*float: left;*/
    column-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
}

.student{
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    width: 200px;
    /*aspect-ratio: 1/1;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.1s ease-in-out;
}

.student:hover, .student:active {
   box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7); 
}


.studentProfile{
    height: 200px;
}






